<ion-header>
  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
          Agregar nueva lista
      </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-item>
      <ion-input [(ngModel)]="NuevaLista" type="text" placeholder="Nombre de la nueva lista"></ion-input>
  </ion-item>

  <button ion-button full (click)="agregar()" [disabled]="NuevaLista == ''">Agregar</button>

</ion-content>