<ion-header>
  <ion-navbar>
          <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
          </button>
      <ion-title>
          {{titulo}}
      </ion-title>
      <ion-buttons end>
          <button ion-button color="danger" clear icon-only (click)="borrarLista()">
              <ion-icon name='trash' is-active="false"></ion-icon>
          </button>
      </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
      <ion-input [(ngModel)]="tarea" placeholder="Nueva tarea" type="text"></ion-input>
  </ion-item>

  <button ion-button full (click)="agregar()" [disabled]="tarea == ''">Agregar</button>

  <ion-list>
      <ion-item-sliding *ngFor="let t of tareas">
          <ion-item>
              {{t}}
          </ion-item>

          <ion-item-options side="right">
              <button ion-button color="danger" (click)="borrar(t)">
                  <ion-icon name="trash"></ion-icon> Borrar
              </button>
          </ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>